.user {
  display: flex;
  margin: 20px;
  box-shadow: 0 1px 13px -4px rgba(0, 0, 0, 0.75);
  width: 450px;
  transition: .5s ease; }
  .user:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: .2s ease;
    box-shadow: 0 7px 13px -4px rgba(0, 0, 0, 0.75); }
  .user .image {
    padding: 5px; }
  .user .info {
    margin: 10px; }

/*# sourceMappingURL=user.css.map */
