.user {
  display: flex;
  margin: 20px;
  box-shadow: 0 1px 13px -4px rgba(0, 0, 0, 0.75);
  width: 450px;
  transition: .5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: .2s ease;
    box-shadow: 0 7px 13px -4px rgba(0, 0, 0, 0.75);
  }

  .image {
    padding: 5px;
  }

  .info {
    margin: 10px;
  }
}