.users {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .users .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .users .pageNumbers {
    margin: 30px;
    display: flex;
    width: 150px;
    background-color: darkcyan;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
    color: white; }
    .users .pageNumbers span {
      font-weight: 900; }
      .users .pageNumbers span:hover {
        color: aqua;
        cursor: pointer; }

/*# sourceMappingURL=users.css.map */
