.users {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pageNumbers {
    margin: 30px;
    display: flex;
    width: 150px;
    background-color: darkcyan;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
    color: white;

    span {
      font-weight: 900;

      &:hover {
        color: aqua;
        cursor: pointer;
      }
    }
  }
}