.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .login .login-container {
    width: 320px;
    box-shadow: 2px 7px 20px -1px rgba(0, 0, 0, 0.75);
    border-radius: 8px 8px 8px 8px; }

/*# sourceMappingURL=login.css.map */
